@import './utils.scss';

root {
  font-size: 20px;
}

* {
  box-sizing : border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family   : 'Barlow';
  src           : url('../assets/fonts/Barlow/Barlow-Regular.ttf');
  font-style    : normal;
  font-weight   : normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family   : 'Poppins';
  src           : url('../assets/fonts/Poppins/Poppins-Regular_0.ttf');
  font-style    : normal;
  font-weight   : normal;
  text-rendering: optimizeLegibility;
}