$margin-length:250;

@for $i from 0 through 12 {
  .flex-#{$i} {
    flex: #{$i};
  }
}

@for $i from 0 through $margin-length {
  .fs-#{$i} {
    font-size: #{$i}px;
  }

  .p-#{$i} {
    padding: #{$i}px;
  }

  .m-#{$i} {
    padding: #{$i}px;
  }

  .p-t-#{$i} {
    padding-top: #{$i}px;
  }

  .p-l-#{$i} {
    padding-left: #{$i}px;
  }

  .p-r-#{$i} {
    padding-right: #{$i}px;
  }

  .p-b-#{$i} {
    padding-bottom: #{$i}px;
  }

  .m-t-#{$i} {
    margin-top: #{$i}px;
  }

  .m-l-#{$i} {
    margin-left: #{$i}px;
  }

  .m-r-#{$i} {
    margin-right: #{$i}px;
  }

  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }
}

.d-flex {
  display: flex;
}


.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.sub-header-title {
  font-size: 1.2rem;
  color    : var(--panda-primary-main);
}

.table {
  display: table;
}

.table-row {
  display: table-row;

  &>div {
    display: table-cell;
    padding: 0.5rem;
  }
}

.margin-05 {
  &>div {
    margin: 0 0.5rem;
  }
}

.flex-end {
  justify-content: flex-end;
}

